<h1>Formulario</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div class="input-group">
    <label for="nombre">Nombre</label>
    <input name="nombre" #inputName="ngModel" type="text" required [(ngModel)]="register.name" >
    <p class="message-error" [class.invalid]="inputName.invalid" >Mensajes de error</p>
  </div>
  <div class="input-group">
    <label for="email">Email</label>
    <input name="email" #inputEmail="ngModel" type="email" required [(ngModel)]="register.email" >
    <p class="message-error" [class.invalid]="inputEmail.invalid" >Mensajes de error</p>
  </div>
  <div class="input-group">
    <label for="password">Password</label>
    <input name="password" #inputPass="ngModel" type="password" required [(ngModel)]="register.password" >
    <p class="message-error" [class.invalid]="inputPass.invalid" >Mensajes de error</p>
  </div>
  <button [disabled]="myForm.invalid" type="submit" >Registrar</button>
  <button type="button">Acción</button>
</form>

<h1>NgClass & NgStyle</h1>
<div>
  <input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name" />
  <hr class="line-error" [ngClass]="{
      'valid': nameInput4.valid,
      'invalid': nameInput4.invalid
    }">
  <p class="message-error" [class.invalid]="nameInput4.invalid">
    El campo es requerido
  </p>
  <div class="styles">
    <div>
      <input type="number" [(ngModel)]="box.width" />
      <input type="number" [(ngModel)]="box.height" />
      <input type="color" [(ngModel)]="box.background">
    </div>
    <div>
      <div [ngStyle]="{
        'width.px': box.width,
        'height.px': box.height,
        'background-color': box.background,
        'display': 'block'
      }"></div>
    </div>
  </div>
</div>
<hr>

<h1>Class & Style</h1>
<div>
  <input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name" />
  <p class="message-error" [class.invalid]="nameInput2.invalid">
    El campo es requerido
  </p>
  <label>Nombre</label>
  <input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name" />
  <p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">Texto texto texto</p>
  <div class="styles">
    <div>
      <input type="text" [(ngModel)]="widthImg" />
    </div>
    <div>
      <img [style.width.px]="widthImg" [src]="person.avatar" alt="avatar image" />
    </div>
  </div>
</div>
<hr>

<h1>ngSwitch</h1>
<div>
  <input type="text" required [(ngModel)]="person.name" />
  <div [ngSwitch]="person.name">
    <p *ngSwitchCase="'michael'">
      La persona es Michael
    </p>
    <p *ngSwitchCase="'juan'">
      La persona es Juan
    </p>
    <p *ngSwitchCase="'pepe'">
      La persona es Pepe
    </p>
    <p *ngSwitchDefault="">No hace match con ninguno</p>
  </div>
  <!-- <p *ngIf="person.name === 'michael'">
    La persona es Michael
  </p>
  <p *ngIf="person.name === 'juan'">
    La persona es Juan
  </p>
  <p *ngIf="person.name === 'pepe'">
    La persona es Pepe
  </p> -->
</div>
<hr>

<h1>*ngFor para Arrays</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="image">
    <h2>{{ product.price }} €</h2>
    <p>{{ product.name }}</p>
    <p>{{ product.category }}</p>
  </div>
</div>
<hr>

<h1>*ngFor</h1>
<div>
  <input type="text" required [(ngModel)]="newName" />
  <button (click)="addName()">Add Name</button>
  <button (click)="deleteName(0)">Delete Name</button>
  <ul>
    <li *ngIf="names.length === 0">No hay nombres</li>
    <li *ngFor="let name of names; index as i">
      {{ i + 1 }} {{ name }}
      <button (click)="deleteName(i)">DELETE</button>
    </li>
  </ul>
</div>
<hr>

<h1>*ngIf</h1>
<div>
  <input type="text" required [(ngModel)]="person.name" />
  <p *ngIf="person.name === 'manuel'">Soy Manuel</p>
  <p *ngIf="person.name === 'juan' && person.age === 18; else elseBlock">Soy Juan</p>
  <ng-template #elseBlock>
    <p>Bloque de else</p>
  </ng-template>
</div>
<hr>

<h1>NgModel</h1>
<div>
  <p>Mi nombre es {{ person.name }}</p>
  <input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
  <p>Valid: {{ nameInput.valid }}</p>

  <input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age" />
  <p>Age {{person.age}}</p>
  <p>Valid: {{ ageInput.valid }}</p>
</div>
<hr>

<h1>Eventos</h1>
<div>
  <button [disabled]="btnDisabled">Enviar</button>
  <button (click)="toogleBtn()">Toggle Button</button>
  <p>Edad {{ person.age }}</p>
  <button (click)="addAge()">Añadir edad</button>
  <div class="box" (scroll)="onScroll($event)">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt mollitia, beatae impedit similique iusto iste
      nobis numquam explicabo et modi deleniti exercitationem omnis odio in pariatur? Quo impedit natus beatae. Lorem
      ipsum dolor sit amet consectetur, adipisicing elit. Nulla eius eum perspiciatis nemo quidem expedita magnam.
      Dignissimos distinctio veniam tempora minima temporibus necessitatibus, repudiandae voluptas ipsum vel! Quis,
      magni
      nemo.</p>
  </div>
  <p>Mi nombre es {{ person.name }}</p>
  <input type="text" [value]="person.name" (keyup)="changeName($event)" />
</div>
<hr>

<h1>Propiedades</h1>
<div>
  <button [disabled]="btnDisabled">Enviar</button>
  <input type="text" [value]="person.name" />
  <progress max="100" [value]="person.age"></progress>
  <img width="100" [src]="img" alt="person.avatar">
</div>
<hr>

<h1>Hello World</h1>
<div>
  <h2>{{ 'Hola Mundo '.repeat(5) }}</h2>
  <p>3 + 3 = {{ 3 + 3 }}</p>
  <h3>Hola, soy {{ name }} y tengo {{ age }} años</h3>
  <img width="200" src={{img}} alt="imagen">
</div>
